.App{
  margin:25px;
}

.id-card{
  display: flex;

  border: 2px solid black;
}

.id-card-info{
}

.id-card-pic{
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting{
display: flex;
 border: 1px solid black;
}


.random{
  border: 1px solid black;
}